[user]
	email = SEU_EMAIL_AQUI
	name = SEU_NOME_AQUI
[credential]
	helper = cache --timeout=300
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
